/* Universal selector */
* {    
    box-sizing: border-box;
}

/* styling elements */
 
 html {
    height: 100%;
}

body {
    display: flex;
   place-content: center;
   flex-flow: column;
    background-image: url(Images/background\ blackjack.jpg);
    background-size: cover;
}

h1 {
    background: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 5px;
    border: none;
    border-radius: 3px;
}

div {
    margin: 2rem;
    background: darkslategrey;
    opacity: 80%;
    width: 500px;
    text-align: center;    
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 5px;
}

p {
    color: aliceblue;
    font-size: 2rem;
}

button {
    background: goldenrod;
    border: none;
    border-radius: 3px;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 2rem;
    width: 200px;
}

/* ID styling */
#player-el {
    text-align: center;
    color: black;
    font-weight: bold;
}

#message {
    font-style: italic;
}